<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>NAGP-Kubernetes-Assignment</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container border-bottom">
		<div class="row align-items-center justify-content-center">
			<div style="margin-top: 5%;"><h1>OOPS!!!</h1></div>
		</div>
		<div class="row align-items-center justify-content-center">
			<div>There is some error. Please try again after sometime or contact the administrator</div>
		</div>
		<div class="row align-items-center justify-content-center">
			<img src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/frowning-face.png" alt="no preview"/>
		</div>
	</div>
</body>

</html>