<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>NAGP-Kubernetes-Assignment</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<div class="card">
			<div class="card-header">
				<h5>Employee Details</h5>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Employee Id</th>
							<th scope="col">Name</th>
							<th scope="col">Organisation</th>
							<th scope="col">Designation</th>
							<th scope="col">Joining Date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee : ${employeesList}">
							<td th:text="${employee.id}"></td>
							<td th:text="${employee.name}"></td>
							<td th:text="${employee.organisation}"></td>
							<td th:text="${employee.designation}"></td>
							<td th:text="${employee.joiningDate}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="card">
			<div class="card-header">
				<strong>Kubernetes POD Details</strong>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-4" th:each="entry: ${hostEnvVariablesMap}">
						<span th:text="${entry.key}"></span>: <span th:text="${entry.value}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>